<script setup lang="ts">
import MainApp from './components/MainApp.vue'
import LoadingDialog from './components/LoadingDialog.vue'
</script>

<template>
  <MainApp></MainApp>
  <LoadingDialog></LoadingDialog>
</template>

<style scoped>
* {
  font-family: 'Lucida Console', 'Helvetica', monospace;
}
</style>
